.btn{
  border-radius: 40px;
  text-align: center;
  text-decoration: none;
  padding: 1rem 3rem;

  &.btn--header{
    color: white;
    border: 1px solid;
    transition-duration: 0.4s;
    &:hover{
      background-color: rgba(255, 255, 255, 0.3);
      border-color: rgba(255, 255, 255, 0.5);
    }
  }

  &.btn--grid{
    color: white;
    background-color: $secondary-color;
    padding: 0.2rem 0.5rem;
    font-weight: 600;
    font-size: 12px;
  }
}
