// grid mixin
@mixin row() {
  font-size: 0;
  font-style: 200;
}

@mixin col($col, $sum, $gap: 2rem, $align: top) {
  width: percentage($col/$sum);
  font-size: 16px;
  display: inline-block;
  vertical-align: $align;
  padding: 0 $gap;
}

// normal tekst
@mixin p{
  line-height: 2;
  font-size: 14px;
}
