// color
$primary-color: #6C59B4 !default;
$secondary-color: #2B8BE3 !default;
$dark-purple: #261a5b;
$light-grey: #F4F5F7;
$mid-grey: #727784;
$primary-font-color: #424753 !default;


$primary-font: "Raleway",sans-serif !default;

$header-gradient: linear-gradient(90deg, $primary-color, $secondary-color);
