$primary-color: #6C59B4 !default;
$secondary-color: #2B8BE3 !default;
$background-grey: #F4F5F7;
$primary-font: "Raleway",sans-serif !default;
$primary-font-color: #424753 !default;
$header-gradient: linear-gradient(90deg, $primary-color, $secondary-color);
